@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700');

body {
  overflow-x: hidden;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #505962;
}

/* Navbar */
.navbar-brand img{
  width: 25%;
  height: 25%;
}

/* Sidebar */
/* .col-md-2.sidebar-wrap {
  height: 768px;
} */

.hero{
  background: linear-gradient(to top, rgba(53, 53, 53, .5), rgb(53, 53, 53, .5) ), url("img/hero-bg.jpg") no-repeat top center;
  width: 100%;
  height: 750px; 
  background-size: cover;
}

.searchForm input, .searchForm button{
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


} 
.searchForm input{
  height: 75px;
  width: 350px !important;
  border-radius: none !important;
}

.searchForm button{
  height: 75px;
  width: 200px;
  border:none;
}


/* Footer */
.footer .card {
    padding: 2% 7%;
    color: #646771;
    background-color: #16151a
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.footer ul>li {
    padding: 4px
}

.footer ul>li:hover {
    color: #957bda;
    cursor: pointer
}

.footer hr {
    border-width: 3px
}

.footer .social>i {
    padding: 1%;
    font-size: 15px
}

.footer .social>i:hover {
    color: #957bda;
    cursor: pointer
}

.footer .policy>div {
    padding: 4px
}

.footer .heading {
    font-family: 'Titillium Web', sans-serif;
    color: white
}

.footer .divider {
    border-top: 2px solid rgba(189, 196, 203, 0.5);
}
.footer img{
  width: 25%;
}


