@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700');

body {
  overflow-x: hidden;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #505962;
}
/* Navbar */
.navbar-brand img{
  width: 25%;
  height: 25%;
}

/* Sidebar */
.col-md-2.sidebar-wrap {
  height: 768px;
}
